fastapi
uvicorn[standard]

pydantic
python-dotenv
python-multipart

httpx
requests
aiohttp

google-genai
groq

exa-py
tavily
youdotcom

FlashRank
onnxruntime

sentence-transformers
transformers
torch

numpy
scikit-learn

beautifulsoup4

python-json-logger

tenacity
tqdm
